---
import MainLayout from '../../layouts/Main.astro';
---

<style>
    @import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
    
    .rogue {
      font-family: 'Rouge Script', cursive;
      font-weight: 400;
      font-style: italic;
    }
</style>

<MainLayout>
  <h1 class="rogue text-6xl xl:text-8xl bg-linear-to-br from-accent to-primary bg-clip-text text-transparent text-center pb-3">
    a Taste of Chikun
  </h1>
  <p class="prose">
    Hahaha, wtf no.  I'll come up with another name later.
  </p>
</MainLayout>