@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dracula;
}

@utility gradient-text {
    background-image: linear-gradient(45deg, var(--tw-var), var(--to));
    background-clip: text;
    color: transparent;
}