---
import MainLayout from '../layouts/Main.astro'
---

<MainLayout>
	<div class="prose">
    <h1 class="bg-linear-to-br from-error to-accent bg-clip-text text-transparent">404 - Page Not Found</h1>
    <p class="md:max-w-3/4">
      This is not the page you're looking for.
    </p>
	</div>
</MainLayout>