---
import MainLayout from '../layouts/Main.astro'
---
<MainLayout>
	<div class="prose">
    <h1 class="bg-linear-to-l from-accent to-primary bg-clip-text text-transparent">
      What is this?
    </h1>
    <p>
      A digital business card of sorts.  Also a bit of a chance to work on my
      web dev skills.  Maybe do some blogging.  A place to test stuff.  That sort of thing.
    </p>
    <p>
      I purchased this domain several months ago for e-mail purposes.  Figured since I had it I
      might as well host something here.
    </p>
	</div>
</MainLayout>