---
import MainLayout from '../layouts/Main.astro'
---
<MainLayout>
	<div class="prose">
		<h3>Sup</h3>
		<p>I suppose your wondering why you're here.</p>
		<h1 class="bg-linear-to-r from-accent to-primary bg-clip-text text-transparent mx-auto">Good Question</h1>
	</div>
</MainLayout>