---
import '../styles/global.css'

// Images
// @ts-ignore
import { Image } from 'astro:assets';
// @ts-ignore
import ChikunAvatar from '../assets/images/chikun_avatar.png';
// Icons
// @ts-ignore
import SVGGithub from '../assets/icons/social/github.svg';
// @ts-ignore
import SVGDiscord from '../assets/icons/social/discord.svg';
import SVGEmail from '../assets/icons/social/email.svg';

---

<html lang="en" data-theme="dracula">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<title>a bit of a Chikun - Andrew Reenan</title>
	</head>
	<body class="bg-linear-to-br from-base-100 to-base-300 h-screen">
		<div class="flex flex-col md:w-10/12 lg:w-8/12 mx-auto">
			<header class="bg-base-300 lg:h-37 p-4 pb-0 mb-0 md:mt-5 md:rounded-box md:rounded-b-none rounded-b-none relative">
				<div class="flex flex-col text-center lg:absolute lg:right-5 lg:top-5">
					<div class="avatar justify-center">
						<div class="w-40 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
							<Image src={ChikunAvatar} alt="Chikun Avatar" loading="eager"/>
						</div>
					</div>
					<div class="text-center mt-5">
						<div class="badge badge-outline badge-accent">Socials</div>
						<div class="mt-2">
							<div class="btn btn-circle btn-dash btn-neutral"><a href="https://discord.com/users/359850658310127627" target="_blank"><SVGDiscord class="fill-sky-500 w-8 inline mx-1"/></a></div>
							<div class="btn btn-circle btn-dash btn-neutral"><a href="https://github.com/looneychikun" target="_blank"><SVGGithub class="fill-neutral-content w-8 inline mx-1"/></a></div>
							<div class="btn btn-circle btn-dash btn-neutral"><a href="mailto:andrew@reenan.me" target="_blank"><SVGEmail class="fill-secondary w-8 inline mx-1"/></a></div>
						</div>
					</div>
				</div>
				<div class="flex flex-col ml-3 mt-5">
					<p class="text-4xl font-bold text-center lg:text-left">Andrew Reenan</p>
					<p class="text-sm italic text-neutral text-center lg:text-left lg:ml-45"><span class="hidden lg:inline">-</span> a bit of a Chikun</p>
				</div>
				<div class="lg:absolute lg:bottom-0 lg:justify-start justify-center w-full flex mt-2">
					<div role="tablist" class="tabs tabs-lift">
						<a href="/#" role="tab" class="tab tab-active">Home</a>
						<a href="/#" role="tab" class="tab">About</a>
						<a href="/#" role="tab" class="tab">Blog</a>
					</div>
				</div>
			</header>
			<main class="flex flex-grow p-4 rounded-box border-l-1 border-l-base-300 rounded-t-none shadow-lg">
					<div class="w-2/3 flex-1 prose">
						<h3>Sup</h3>
						<p>I suppose your wondering why you're here.</p>
						<h1 class="gradient-text border-b-2 border-neutral" style="--from: #f3ec78; --to: #af4261;">Good Question</h1>
					</div>
				</div>
			</main>
			<footer class="p-4 mb-5 mt-4 mx-auto text-center">
				<p class="text-neutral text-sm">&copy; 2025 Andrew Reenan</p>
			</footer>
		</div>
	</body>
</html>
