---
import MainLayout from '../layouts/Main.astro'
---
<MainLayout>
	<div class="prose">
		<h3>Sup</h3>
		<p>I suppose your wondering why you're here.</p>
		<h1 class="bg-linear-to-br from-accent light:from-info to-primary light:to-accent bg-clip-text text-transparent">
			Good Question
		</h1>
	</div>
</MainLayout>