---
import MainLayout from '../layouts/Main.astro';

import AboutPage from '../content/about.md';


---
<MainLayout>
	<div id="shelf">
		<AboutPage />
	</div>
</MainLayout>

<script>
document.getElementById('tabAbout')?.addEventListener('click', () => {
	document.getElementById('shelf')?.classList.toggle('active');
	document.getElementById('tabAbout')?.classList.toggle('tab-active');
});
</script>

<style>
#shelf {
	transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
	opacity: 0;
	overflow: hidden;
	height: 0;
}
#shelf.active {
	height: 20em;
	opacity: 1;
}
</style>