---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const posts = await getCollection('blog')

const images = import.meta.glob(`../content/blog/img/*.{jpg,jpeg,png,gif}`);
---

<blog-home>
  <ul class="[&>*:nth-child(even)]:bg-base-200">
    { posts.map(post => 
      <li class="list-row">
        <div class="flex">
          <div class="w-64">
            <a href={`/blog/posts/${post.id}`}>
              <Image 
                src={images[`../content/blog/img/${post.data.image}`]().then()} 
                alt={post.data.title} loading="lazy"
                class="rounded-lg mt-4 mb-4 shadow-lg"
              />
            </a>
          </div>
          <div class="divider divider-horizontal"></div>
          <div class="flex-grow pl-4 pt-4">
            {post.data.title}
          </div>
        </div>
      </li>
    )}
    <li class="list-row">item one</li>
    <li class="list-row">Item two</li>
    <li class="list-row">
      <p>Item three</p>
    </li>
  </ul>
</blog-home>