---
import Discord from '../assets/icons/social/discord.svg';
import Github from '../assets/icons/social/github.svg';
import Email from '../assets/icons/social/email.svg';

const { icon, 
        url, 
        fill = null, 
        stroke = null, 
        target = '_blank',
      } = Astro.props;

const icons = {
  Discord,
  Github,
  Email,
}

const SVG = icons[icon]
---

<div class="btn btn-circle btn-dash btn-lg">
  <a href={url} target={target}>
    <SVG width="30" height="30" class:list={[fill, stroke]} />
  </a>
</div>