---
const path = Astro.url.pathname;
---

<div role="tablist" class="tabs tabs-lift">
  <a href="/about" role="tab" class:list={['tab', { 'tab-active': path.startsWith('/about/') }]}>About</a>
  <a href="/blog" role="tab" class:list={['tab', { 'tab-active': path.startsWith('/blog/') }]}>Blog</a>
</div>