---
import '../styles/global.css'

// Components
import SocialButton from '../components/SocialButton.astro';
import Tabs from '../components/Tabs.astro';
import DarkModeManager from '../components/DarkModeManager.astro';



// Images
import { Image } from 'astro:assets';
import ChikunAvatar from '../assets/images/chikun_avatar.png';
import ChikunBeach from '../assets/images/chikun_beach.png';

---

<html lang="en" data-theme="dracula">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<!-- Handle lightmode early to prevent flashing -->
		<script is:inline>
			if (localStorage.getItem('theme') === 'light') {
				document.documentElement.dataset.theme = 'bumblebee'
			}
		</script>
		<title>a bit of a Chikun - Andrew Reenan</title>
	</head>
	<body class="bg-linear-to-br from-base-100 to-base-300 h-display">
		<div class="md:w-10/12 lg:w-8/12 max-w-[1270px] mx-auto h-screen">
			<header class="bg-base-300 p-4 pb-0 mb-0 md:h-36 md:mt-5 md:rounded-box md:rounded-b-none rounded-b-none">
				<!-- MARK: Avatar Card -->
				<div class="text-center md:float-right relative">
					<DarkModeManager />
					<div class="avatar light:hidden inline-block">
						<div class="w-60 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
							<Image src={ChikunAvatar} alt="Chikun Avatar" loading="eager"/>
						</div>
					</div>
					<div class="avatar hidden light:inline-block">
						<div class="w-60 rounded-full ring ring-sky-500 ring-offset-base-100 ring-offset-2">
							<Image src={ChikunBeach} alt="Chikun Avatar" loading="eager"/>
						</div>
					</div>

					<div class="mt-3">
						<span class="badge badge-outline badge-accent">Socials</span>
						<div class="mt-2 flex flex-cols-3 gap-2 justify-center">
							<SocialButton icon="Discord" url="https://discord.com/users/359850658310127627" fill="fill-sky-500"/>
							<SocialButton icon="Github" url="https://github.com/looneychikun" fill="fill-base-content"/>
							<SocialButton icon="Email" url="mailto:andrew@reenan.me" fill="fill-secondary"/>
						</div>
					</div>
				</div>
				<div class="ml-3 mt-5">
					<p class="text-4xl font-bold text-center text-base-content md:text-left">Andrew Reenan</p>
					<p class="text-sm italic text-neutral text-center md:text-left md:ml-45"><span class="hidden md:inline">-</span> a bit of a Chikun</p>
				</div>
				<!-- MARK: Tabs -->
				<div class="flex md:justify-start justify-center mt-2">
					<Tabs />
				</div>
			</header>
			<main class="bg-base-100 p-4 md:rounded-box md:border-l-1 md:border-l-base-300 rounded-t-none md:rounded-t-none md:shadow-lg md:min-h-58 mb-auto pt-8">
        <slot />
			</main>
			<footer class="p-4 mb-5 mt-4 mx-auto text-center">
				<p class="text-neutral light:text-neutral-content text-sm">&copy; 2025 Andrew Reenan - <a class="underline" href="https://github.com/looneychikun/reenan_me" target="_blank">Source</a></p>
			</footer>
		</div>
	</body>
</html>