---
interface Props {
	hideMain?: boolean
}

import '../styles/global.css'


// Components
import HeroCard from '../components/HeroCard.astro';
import Tabs from '../components/Tabs.astro';

const { hideMain = false }  = Astro.props;

---

<html lang="en" data-theme="dracula" class="bg-linear-to-br from-base-100 to-base-300 bg-fixed bg-no-repeat">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<!-- Handle lightmode early to prevent flashing -->
		<script is:inline>
			if (localStorage.getItem('theme') === 'light') {
				document.documentElement.dataset.theme = 'bumblebee'
			}
		</script>
		<title>a bit of a Chikun - Andrew Reenan</title>
	</head>
	<body>
		<div class="md:w-10/12 lg:w-10/12 max-w-[1270px] mx-auto h-screen">
			<header id="header"class="bg-base-300 p-4 pb-0 mb-0 md:h-36 md:mt-5 md:rounded-box md:rounded-b-none rounded-b-none z-0">
				<div class="flex flex-col flex-wrap justify-between md:flex-row-reverse md:justify-end ">
					<HeroCard />
					<div class="ml-3 mt-5">
						<p class="text-4xl font-bold text-center text-base-content md:text-left">Andrew Reenan</p>
						<p class="text-sm italic text-neutral text-center md:text-left md:ml-45"><span class="hidden md:inline">-</span> a bit of a Chikun</p>
						<div class="flex md:justify-start justify-center mt-2">
							<Tabs />
						</div>
					</div>
				</div>
			</header>
			<main class=`${ hideMain ? 'hidden ' : ''}md:inline-block bg-base-100 w-full p-4 tabs tabs-box md:rounded-box md:border-l-1 md:border-base-300 rounded-t-none md:rounded-t-none md:shadow-lg md:min-h-58 pt-0`>
				<slot />
			</main>
			<footer class="p-4 mb-5 mt-0 mx-auto text-center">
				<p class="text-neutral text-sm">&copy; 2025 Andrew Reenan - <a class="underline" href="https://github.com/looneychikun/reenan_me" target="_blank">Source</a></p>
			</footer>
		</div>
	</body>
</html>

<script>
import { navigate } from "astro:transitions/client"

	// document.getElementById('header')?.addEventListener('click', (e) => {
	// 	if (!(e.target as HTMLDivElement)) return;
	// 	navigate('/');
	// });
</script>